.app-title {
  width: 100%;
  text-align: center;
  color: #b16863;
  font-size: 3rem;
  margin: 40px 0;
}

.app-input {
  border: none;
  border-bottom: solid 1px #bdbdbd;
  outline: none;
  font-size: 1.4rem;
  margin: 20px 15px;
  color: #50504c;
}

.app-input:focus {
  background-color: rgba(159, 255, 161, 0.44);
}

@media (min-width: 400px) {
  .app-input {
    width: 300px;
  }
}

@media (min-width: 720px) {
  .app-title {
    font-size: 4rem;
  }
  .app-input {
    width: 400px;
  }
}