.app-add {
  height: 100px;

  form {
    width: 100%;
    text-align: center;

    input:first-child {
      width: 75%;
      font-size: 1.7rem;
    }

    .input:last-child {
      margin-bottom: -12px;
      height: 50px;
      width: 50px;
      outline: none;
    }
  }
}

@media (min-width: 720px) {
  .app-add form input:first-child {
    font-size: 2rem;
  }
  .app-add {
    width: 700px;
    margin: auto;
  }
}