.app-list {
  width: 100%;
  margin: auto;

  ul {
    list-style: none;
    text-align: center;

    li {
      left: 0;
    }

    img {
      cursor: pointer;
      margin-bottom: -5px;
    }
  }
}
