* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}
